.externalToolBuilders/*
.DS_Store
._*
unins000.dat
unins000.exe
GPATH
GRTAGS
GSYMS
GTAGS
.directory
*.class
*.orig
*.dmp
*.ilk
*.pdb
*.aqo
*.beam
*.cgo
*.obj
*.[oa]
*.agllog
*.dump
*.ncb
*.suo
*.stackdump
*.opensdf
*.sdf
*.vcxproj.*
.#*
_cache.ham

*/*/obj/x86
*/*/obj/Debug
*/*/obj/Release
*/*/bin/Debug
*/*/bin/Release

## Xcode ##
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata/
.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xccheckout

## Android ##
local.properties
